<h1>Libros</h1>

<form action="/api/productos" method="post">
    <span>Title: <input type="text" name="title"></span><br>
    <span>Author: <input type="text" name="author"></span><br>
    <span>Pages: <input type="number" name="pages"></span><br>
    <span>Thumbnail: <input type="text" name="thumbnail"></span><br>

    <button type="submit">Agregar !!</button>
</form>